- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}/
#content
  %h1 
    %span.short MNPP
    %span.long Mac + Nginx + Percona + PHP
  %h2.tagline A high performance web server in a one-click installer
  #download
    %a.download{:href => '/download'} Download version 0.7
    %a.source{:href => 'http://github.com/jyr/MNPP'} of fork the source code
  %p 
    :markdown
      Install a world-class [PHP](http://php.net) development environment on your Mac. Unleash the speed of the webserver everybody is talking about, [Nginx](http://nginx.net). And for storage, use [Percona](http://percona.com), the most carefully maintained independent fork of the famous MySQL database, now owned by Oracle.
  #comparison
    %h2 Why should I use MNPP instead of MAMP?
    %p MAMP was a very good solution in the past. However, the Apache web server has lagged in terms of performance during the last few years. MNPP can handle much more requests per second than Apache with PHP implemented as a module.
    %p On the other side, MAMP uses MySQL which is now owned by Oracle. Although, Oracle still maintains a free, open source version of MySQL, they have been manipulating the product roadmap to keep most of the good stuff for the paid versions. Enters Percona. They decided to fork MySQL and have since been working on it under a different name, the Percona Server. Percona's roadmap is more promising and much more friendly with the open source community. Think of Percona as the MySQL we've all learned to love.   
  #usage
    %h2 Usage
    #ui
      %h3 From the user interface
      %ol
        %li Open the application from the Applications Folder
        %li Toggle the main Start/Stop button to switch all the services on and off.
        %li You can also toggle the individual buttons to switch individual services on and off. 
      %img{:src => '/images/gui_start_stop.png'}
    #terminal
      %h3 From the Terminal
      %h4 Start
      %code $ sudo mnpp --start
      %h4 Start only one service
      %code $ sudo mnpp --start [service]
      %pre service: nginx | percona | php 
      %h4 Stop
      %code $ sudo mnpp --stop
      %h4 Stop only one service
      %code $ sudo mnpp --stop [service]
      %pre service: nginx | percona | php
  
  #contents
    %h2 Contents
    %h3 Core components
    %ul
      %li Percona-Server-5.1.54-rel12.5
      %li PHP-5.3.5
      %li Nginx-0.8.54
      %li phpMyAdmin-3.3.9.2
    %h3 Libraries  
    %ul  
      %li freetype-2.4.4
      %li curl-7.21.3
      %li jpegsrc.v8b
      %li libpng-1.5.1
      %li gd-2.0.35
      %li libxml2-2.7.8
      %li libxslt-1.1.26
      %li gettext-0.18.1.1
      %li libmcrypt-2.5.8
      %li mcrypt-2.6.8
      %li PDO_MYSQL-1.0.2
      %li Libevent-2.0.10
      %li Memcached-1.4.5
      %li PHP-MEMCACHE-3.0.5
  #contributors
    %h2 Contributors
    %p This project is currently maintained by the following people:  
    %ul
      %li
        %a{:href => 'https://github.com/jyr', :target => 'blank'} Jair Gaxiola (Core developer)
      %li
        %a{:href => 'http://cesarsalazar.mx', :target => 'blank'} César Salazar
      %li
        %a{:href => 'http://astrata.mx', :target => 'blank'} Astrata Software

    %p 
      :markdown
        If you want to become a contributor, please feel free to [fork the project on Github](http://github.com/jyr/MNPP), fix bugs, introduce new functionality and submit a Pull Request.
  #license
    %h2 License
    %p 
      :markdown
        MNPP is released under the [GPL License](http://www.gnu.org/licenses/gpl.html). Every core component and library is released under its original license. Please visit their websites to learn more.

    